// COLORS
$color-white: hsl(0, 0%, 100%);
$color-grey: hsl(0, 0%, 20%);
$color-dark-grey: hsl(0, 0%, 12%);
$color-off-black: hsl(0, 0%, 8%);
$color-green: hsl(75, 94%, 57%);

// FONTS
$family: "Inter", sans-serif;

$weight-400: 400;
$weight-600: 600;
$weight-700: 700;

$size-name-mobile: 1.48rem;
$size-location-mobile: .85rem;
$size-description-mobile: .85rem;
$size-btn-mobile: .9rem;
$size-attribution: .8rem;

// Radius
$radius-card: .6rem;
$radius-img: 100%;
$radius-btn: .5rem;

// BREAKPOINT
$breakpoint: 1000px;